<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.oi.myPage.MyPageMapper">

	 <resultMap type="ProductVO" id="product">
 		<id property="num" column="num"></id>
 		<result property="title" column="title"></result>
 		<result property="categoryNum" column="categoryNum"></result>
 		<result property="price" column="price"></result>
 		<result property="contents" column="contents"></result>
 		<result property="sale" column="sale"></result>
 		<result property="regDate" column="regDate"></result>
 		<result property="location" column="location"></result>
 		<result property="hit" column="hit"></result>
 		<result property="wish" column="wish"></result>
 	 </resultMap>	 
 	<resultMap type="ProductfilesVO" id="ProductfilesMap">
 		<id property="fileNum" column="fileNum"/>
 		<result property="productNum" column="productNum"/>
 		<result property="thumbnail" column="thumbnail"/>
 		<result property="fileName" column="fileName"/>
 		<result property="ogName" column="ogName"/>
 	</resultMap> 	 
 	<resultMap type="PFileVO" id="PFileMap">
		<collection property="productfilesVO" resultMap="ProductfilesMap"/>		
		<collection property="productVO" resultMap="product"/>
	</resultMap>
 
	<!-- 판매완료 된 상품 리스트 -->
	<select id="getList" parameterType="MemberVO" resultMap="PFileMap">
		select P.*, PF.* from product P left join productFiles PF on P.num=PF.productNum where P.username=#{username} and P.sale = 1
	</select>
	
	<!-- 판매중인 상품 리스트 -->
	<select id="getSellList" parameterType="MemberVO" resultMap="PFileMap">
		select P.*, PF.* from product P left join productFiles PF on P.num=PF.productNum where username=#{username} and P.sale = 0
	</select>
	
	<resultMap type="MywishVO" id="MywishMap">
		<id column="num" property="num"/>
		<result column="username" property="username"/>
		<result column="productNum" property="productNum"/>
		<result column="amount" property="amount"/>
	</resultMap>	
	<resultMap type="ProductVO" id="ProductMap">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="categoryNum" property="categoryNum"/>
		<result column="price" property="price"/>
		<result column="contents" property="contents"/>
		<result column="sale" property="sale"/>
		<result column="regDate" property="regDate"/>
		<result column="username" property="username"/>
		<result column="location" property="location"/>
		<result column="hit" property="hit"/>
		<result column="wish" property="wish"/>
	</resultMap>
	<resultMap type="ProductfilesVO" id="PFMap">
 		<id property="fileNum" column="fileNum"/>
 		<result property="productNum" column="productNum"/>
 		<result property="thumbnail" column="thumbnail"/>
 		<result property="fileName" column="fileName"/>
 		<result property="ogName" column="ogName"/>
 	</resultMap> 
	<resultMap type="PWishVO" id="PWishMap">
	<collection property="productfilesVO" resultMap="PFMap"/>
		<collection property="mywishVO" resultMap="MywishMap"/>		
		<collection property="productVO" resultMap="ProductMap"/>
	</resultMap>
	
	<!-- 관심 상품 목록 -->
	<select id="getMywish" parameterType="MemberVO" resultMap="PWishMap">
		SELECT P.* FROM product P inner JOIN mywish M ON P.num = M.productNum LEFT JOIN productfiles PF ON P.num = PF.fileNum WHERE M.username = #{username}
	</select>
 
	<!-- 상품 상세정보 select -->
	<select id="getSelect" parameterType="ProductVO" resultMap="PFileMap">
		select P.*, PF.* from product P left join productFiles PF on P.num=PF.productNum where P.num = #{num}
	</select>
		
	<!-- hit update -->
	<update id="setHitUpdate" parameterType="ProductVO">
		update product set hit = hit+1 where num = #{num}
	</update>
	
	<!-- 판매완료로 변경 -->
	<update id="soldoutUpdate" parameterType="ProductVO">
		update product set sale=0 where num=#{num}
	</update>
	
	<!-- 거래중으로 변경 -->
	<update id="sellUpdate" parameterType="ProductVO">
		update product set sale=1 where num=#{num}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="setDelete" parameterType="ProductVO">
		delete from product where num = #{num}
	</delete>
	
	<resultMap type="ProductVO" id="oproduct">
 		<id property="num" column="num"></id>
 		<result property="title" column="title"></result>
 		<result property="categoryNum" column="categoryNum"></result>
 		<result property="price" column="price"></result>
 		<result property="contents" column="contents"></result>
 		<result property="sale" column="sale"></result>
 		<result property="regDate" column="regDate"></result>
 		<result property="location" column="location"></result>
 		<result property="hit" column="hit"></result>
 		<result property="wish" column="wish"></result>
 	 </resultMap>	 
 	<resultMap type="ProductfilesVO" id="Productfiles">
 		<id property="fileNum" column="fileNum"/>
 		<result property="productNum" column="productNum"/>
 		<result property="thumbnail" column="thumbnail"/>
 		<result property="fileName" column="fileName"/>
 		<result property="ogName" column="ogName"/>
 	</resultMap> 
 	<resultMap type="OrderCompleteVO" id="OrderCompleteMap">
 		<id property="num" column="num"/>
 		<result property="seller" column="seller"/>
 		<result property="buyer" column="buyer"/>
 		<result property="productNum" column="productNum"/>
 	</resultMap>   	
 	<resultMap type="OrderPFileVO" id="OrderPFileMap">
		<collection property="productfilesVO" resultMap="Productfiles"/>		
		<collection property="productVO" resultMap="oproduct"/>
		<collection property="ordercompleteVO" resultMap="OrderCompleteMap"/>
	</resultMap>
	
	<!-- 내가 구매한 상품 -->
	<select id="getBuyList" parameterType="MemberVO" resultMap="OrderPFileMap">
		select P.*, O.* from product P left join ordercomplete O on P.num = O.productNum LEFT JOIN productfiles PF ON P.num = PF.fileNum
		 WHERE O.buyer = #{username}
	</select>
	
	<!-- 관심 상품 추가 -->
	<insert id="setWishInsert" parameterType="ProductVO">
		insert into mywish (username, productNum, amount) values (#{username}, #{num}, #{amount})
	</insert>
	
	<!-- 관심 상품 삭제 -->  
	<delete id="setWishDelete" parameterType="MyWishVO">
		delete from mywish where productNum = #{productNum}
	</delete>
	
	<!-- 관심 수 -->
	<update id="likeUpdate" parameterType="ProductVO">
		update product set wish = wish+1 where num = #{num}
	</update>
	
	<!-- 관심 해제 -->
	<update id="likeDelete" parameterType="MywishVO">
		update product set wish = wish-1 where num = (select productNum from mywish where productNum = #{productNum})
	</update>
	
	<!-- 페이징 처리 
	<select id="getTotalCount" resultType="java.lang.Long">
		select count(num) from product
	</select> -->
	
	<!-- 리뷰 리스트 -->
	<select id="getReviewList" parameterType="MemberVO" resultType="ReviewVO">
		select * from review
	</select>
	
	<!-- 프로필에서 내가 받은 리뷰 띄우기 -->
	<select id="getMyReview" parameterType="MemberVO" resultType="ReviewVO">
		select * from review where reciver = #{username}
	</select>
	
	<!-- 상품 클릭 시 상품에 관한 리뷰 -->
	<select id="getReviewSelect" parameterType="ProductVO" resultType="ReviewVO">
		SELECT R.* FROM review R LEFT JOIN product P ON R.productNum = P.num WHERE R.productNum = (SELECT num FROM product WHERE num=#{num})
	</select>
	
	<!-- 판매자 리뷰 -->
	<select id="getSeller" parameterType="ReviewVO" resultType="ReviewVO">
		SELECT R.* FROM review R LEFT JOIN product P ON R.productNum = P.num WHERE writerPosition = 'seller' 
	</select>
	
	<!-- 구매자 리뷰 -->
	<select id="getBuyer" parameterType="ReviewVO" resultType="ReviewVO">
		SELECT R.* FROM review R LEFT JOIN product P ON R.productNum = P.num WHERE writerPosition = 'buyer'
	</select>
	
	<!-- 리뷰 작성 -->
	<insert id="setReview" parameterType="ReviewVO">
		insert into review (num, productNum, writer, reciver, contents, regDate, score, writerPosition) values
		(#{num}, #{productNum} , #{writer}, #{reciver}, #{contents}, now() , #{score}, #{writerPosition})
	</insert>
	
	<!-- 리뷰 쓰기위해 상품테이블에서 정보 받아가기 -->
	<select id="reviewInsert" parameterType="ProductVO" resultType="ProductVO">
		select P.*, O.* from product P left join ordercomplete O on P.num = O.productNum where P.num = #{num}
	</select>
	
	<!-- 내가 쓴 동네 글 -->
	<select id="getVillage" parameterType="MemberVO" resultType="CommunityVO">
		select * from community where writer = #{username}
	</select>
</mapper>