<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.oi.myPage.MyPageMapper">

	<select id="getList" parameterType="MemberVO" resultType="ProductVO">
		select * from product where username=#{username} and sale = 0 
	</select>
	
	<select id="getSellList" parameterType="ProductVO" resultType="ProductVO">
		select * from product where sale = 1
	</select>
	
	<select id="getSelect" parameterType="ProductVO" resultType="ProductVO">
		select * from product where num = #{num}
	</select>
	
	<update id="setHitUpdate" parameterType="ProductVO">
		update product set hit = hit+1 where num = #{num}
	</update>
	
	<update id="setUpdate" parameterType="ProductVO">
		update product set title=#{title}, price=#{price}, contents=#{contents} where num = #{num}
	</update>
	
	<!-- 판매완료로 변경 -->
	<update id="soldoutUpdate" parameterType="ProductVO">
		update product set sale=1 where num=#{num}
	</update>
	
	<!-- 거래중으로 변경 -->
	<update id="sellUpdate" parameterType="ProductVO">
		update product set sale=0 where num=#{num}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="setDelete" parameterType="ProductVO">
		delete from product where num = #{num}
	</delete>
	
	<select id="getBuyList" parameterType="MemberVO" resultType="ProductVO">
	 	<!-- 로그인했을 때의 아이디를 받아올 예정! 수정 필요 -->
		SELECT P.* from product P left join ordercomplete O ON P.num = O.productNum 
		WHERE buyer = (SELECT buyer from ordercomplete where buyer=#{username})
	</select>
		
	<select id="getMywish" parameterType="MemberVO" resultType="MyWishVO">
		<!-- 로그인했을 때의 아이디를 받아올 예정! 수정 필요 -->
		SELECT P.* from mywish P left join product M ON P.productNum = M.num
		WHERE P.username = any (SELECT username FROM mywish WHERE username=#{username})
	</select>
	
	<!-- 관심목록 -->
	<insert id="setWishInsert" parameterType="ProductVO">
		insert into mywish (username, productNum, title, wish, sale) values (#{username}, #{num}, #{title}, 1, #{sale})
	</insert>
	
	<delete id="setWishDelete" parameterType="MyWishVO">
		delete from mywish where productNum = #{productNum}
	</delete>
	
	<!-- 관심 수 -->
	<update id="likeUpdate" parameterType="ProductVO">
		update product set wish = wish+1 where num = #{num}
	</update>
	
	<!-- 관심 해제 -->
	<update id="likeDelete" parameterType="ProductVO">
		update product set wish = wish-1 where num =#{num}
	</update>
	
	<!-- 페이징 처리 -->
	<select id="getTotalCount" resultType="java.lang.Long">
		select count(num) from product
	</select>
	
	<!-- 리뷰 -->
	<select id="getReviewList" parameterType="ReviewVO" resultType="ReviewVO">
		select * from review
	</select>
	
	<select id="getReviewSelect" parameterType="ProductVO" resultType="ReviewVO">
		SELECT R.* FROM review R LEFT JOIN product P ON R.productNum = P.num WHERE R.productNum = (SELECT num FROM product WHERE num=#{num})
	</select>
	
	<select id="getSeller" parameterType="ReviewVO" resultType="ReviewVO">
		SELECT R.* FROM review R LEFT JOIN product P ON R.productNum = P.num WHERE writerPosition = 'seller'
	</select>
	
	<select id="getBuyer" parameterType="ReviewVO" resultType="ReviewVO">
		SELECT R.* FROM review R LEFT JOIN product P ON R.productNum = P.num WHERE writerPosition = 'buyer'
	</select>
</mapper>