<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.oi.product.ProductMapper">

	 
 <resultMap type="ProductVO" id="ProductResult">
 	<id property="num" column="num"></id>
 	<result property="title" column="title"></result>
 	<result property="categoryNum" column="categoryNum"></result>
 	<result property="price" column="price"></result>
 	<result property="contents" column="contents"></result>
 	<result property="sale" column="sale"></result>
 	<result property="regDate" column="regDate"></result>
 	<result property="location" column="location"></result>
 	<result property="hit" column="hit"></result>
 	<result property="like" column="like"></result>
 	
 	<collection property="productFiles" javaType="java.util.List" ofType="ProductFilesVO">
 		<id property="num" column="num"/>
 		<result property="productNum" column="productNum"/>
 		<result property="thumbnail" column="thumbnail"/>
 		<result property="fileName" column="fileName"/>
 		<result property="ogName" column="ogName"/>
 	</collection>
 
 
 </resultMap>
 
 
 <resultMap type="ProductVO" id="ProductSelectResult">
 	<id property="num" column="num"></id>
 	<result property="title" column="title"></result>
 	<result property="categoryNum" column="categoryNum"></result>
 	<result property="price" column="price"></result>
 	<result property="contents" column="contents"></result>
 	<result property="sale" column="sale"></result>
 	<result property="regDate" column="regDate"></result>
 	<result property="location" column="location"></result>
 	<result property="hit" column="hit"></result>
 	<result property="like" column="like"></result>
 	
 	<collection property="productFiles" javaType="java.util.List" ofType="ProductFilesVO">
 		<id property="num" column="num"/>
 		<result property="productNum" column="productNum"/>
 		<result property="thumbnail" column="thumbnail"/>
 		<result property="fileName" column="fileName"/>
 		<result property="ogName" column="ogName"/>
 	</collection>
 	
 	<collection property="members" javaType="java.util.List" ofType="MemberVO">
 		<id property="username" column="username"/>
 		<result property="password" column="password"/>
 		<result property="name" column="name"/>
 		<result property="nickName" column="nickName"/>
 		<result property="email" column="email"/>
 		<result property="phone" column="phone"/>
 		<result property="location" column="location"/>
 	</collection>
 
 
 </resultMap>
 




	<select id="getProductList" resultMap="ProductResult">
		
			select *
			from product P left join productFiles PF
			on P.num=PF.productNum
   		limit 0,10;
   	 
	</select>
	<select id="getProductSeparatedList" parameterType="ProductVO" resultMap="ProductResult">
		
			select *
			from product P left join productFiles PF
			on P.num=PF.productNum
			where categoryNum=#{categoryNum}
   		limit 0,10;
   	 
	</select>
	
	<select id="getProductSelect" parameterType="ProductVO" resultMap="ProductSelectResult">
		select A.*,M.*
		from 
			(select *
			from product P left join productFiles PF
			on P.num=PF.productNum) as A left join member M
   		on A.username =  M.username
   		where A.num=#{num}
	</select>


<!-- 	select A.*,PC.*
		from 
			(select *
			from product P left join productFiles PF
			on P.num=PF.productNum) as A left join productCategory PC
   		on A.categoryNum = PC.categoryNum
   		limit 0,10; -->


<!-- 
    <insert id="setLocation" parameterType="MemberVO">
		insert into location
		values (#{location},#{wgs84X},#{wgs84Y})
	</insert> 
 -->
		
		
		<!-- select insert ,  (delete, update) -->
		
		

</mapper>
		

