<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.oi.product.ProductMapper">

	 

 
 
 <resultMap type="wProductVO" id="ProductSelectResult">
 	<id property="num" column="num"></id>
 	<result property="title" column="title"></result>
 	<result property="categoryNum" column="categoryNum"></result>
 	<result property="price" column="price"></result>
 	<result property="contents" column="contents"></result>
 	<result property="sale" column="sale"></result>
 	<result property="regDate" column="regDate"></result>
 	<result property="location" column="location"></result>
 	<result property="hit" column="hit"></result>
 	<result property="wish" column="wish"></result>
 	
 	<collection property="productFiles" javaType="java.util.List" ofType="wProductFilesVO">
 		<id property="fileNum" column="fileNum"/>
 		<result property="productNum" column="productNum"/>
 		<result property="thumbnail" column="thumbnail"/>
 		<result property="fileName" column="fileName"/>
 		<result property="ogName" column="ogName"/>
 	</collection>
 	
 	<collection property="members" javaType="java.util.List" ofType="MemberVO">
 		<id property="username" column="username"/>
 		<result property="password" column="password"/>
 		<result property="name" column="name"/>
 		<result property="nickName" column="nickName"/>
 		<result property="email" column="email"/>
 		<result property="phone" column="phone"/>
 		<result property="location" column="location"/>
 	</collection>
 </resultMap>
 
  <resultMap type="wProductVO" id="SelectCategoryResult">
 	<id property="num" column="num"></id>
 	<result property="title" column="title"></result>
 	<result property="categoryNum" column="categoryNum"></result>
 	<result property="price" column="price"></result>
 	<result property="contents" column="contents"></result>
 	<result property="sale" column="sale"></result>
 	<result property="regDate" column="regDate"></result>
 	<result property="location" column="location"></result>
 	<result property="hit" column="hit"></result>
 	<result property="wish" column="wish"></result>
 	
 	<collection property="productFiles" javaType="java.util.List" ofType="wProductFilesVO">
 		<id property="fileNum" column="fileNum"/>
 		<result property="productNum" column="productNum"/>
 		<result property="thumbnail" column="thumbnail"/>
 		<result property="fileName" column="fileName"/>
 		<result property="ogName" column="ogName"/>
 	</collection>
 	
 	<collection property="members" javaType="java.util.List" ofType="MemberVO">
 		<id property="username" column="username"/>
 		<result property="password" column="password"/>
 		<result property="name" column="name"/>
 		<result property="nickName" column="nickName"/>
 		<result property="email" column="email"/>
 		<result property="phone" column="phone"/>
 		<result property="location" column="location"/>
 	</collection>
 	
 	<collection property="productCategories" javaType="java.util.List" ofType="ProductCategoryVO">
 		<id property="categoryNumPK" column="categoryNumPK"/>
 		<result property="category" column="category"/>
 	</collection>
 	
 </resultMap>
 
 

	<select id="getTotalCount" parameterType="java.util.Map" resultType="java.lang.Long" >
				SELECT count(*)
			from product Pr left join productFiles PF
			on Pr.num=PF.productNum
		<![CDATA[where distance_between(Pr.wgs84X,Pr.wgs84Y,#{member.wgs84X},#{member.wgs84Y})<#{member.radius}]]>                     
				<if test="product != null">
				 and  Pr.categoryNum=#{product.categoryNum}
				 </if> 				 
			 order by num desc	
	</select>

	<select id="getProductList" resultMap="ProductSelectResult" parameterType="java.util.Map">
				SELECT Pr.*,PF.*
			from product Pr left join productFiles PF
			on Pr.num=PF.productNum
			<![CDATA[where distance_between(Pr.wgs84X,Pr.wgs84Y,#{member.wgs84X},#{member.wgs84Y})<#{member.radius}]]>
   				<if test="product != null">
				 and  Pr.categoryNum=#{product.categoryNum}
				 </if> 
				<if test="pager.search != null">
					and Pr.title like concat('%',#{pager.search},'%')
				 </if> 
			group by Pr.num
            order by num desc
            limit #{pager.startRow},#{pager.perPage} 		
	</select>
		
	<select id="getProductSelect" parameterType="wProductVO" resultMap="SelectCategoryResult">
	select *
		from 
			(select *
			from (SELECT * from product left join productCategory
				on product.categoryNum=productCategory.categoryNumPK
				)P left join productFiles PF
				on P.num=PF.productNum) as A left join member M
				on A.username =  M.username
   		where A.num=#{num}
	</select>

	<select id="getProductNum" resultType="java.lang.Integer">
		SELECT AUTO_INCREMENT

		FROM information_schema.tables

		WHERE table_name = 'product'

		AND table_schema = DATABASE( ) ;
		
	</select>
	<select id="getFileSelect" parameterType="wProductFilesVO" resultType="wProductFilesVO">
		select * from productFiles where productNum=#{productNum}
	</select>
	
	<select id="getFileSelectFromFileNum" parameterType="wProductFilesVO" resultType="wProductFilesVO">
		select * from productFiles where fileNum=#{fileNum}
	</select>

	<select id="getWishExist" parameterType="wProductVO" resultType="java.lang.Long">
		select count(*) from MyWish
		where username=#{username} and productNum=#{num}
	</select>


    <insert id="setProductInsert" parameterType="wProductVO" >
		insert into product (title,categoryNum,price,contents,sale,username,location,wgs84X,wgs84Y)
					values 	(#{title},#{categoryNum},#{price},#{contents},1,#{username},#{location},#{wgs84X},#{wgs84Y})
	</insert> 
		
	<insert id="setFileInsert" parameterType="wProductFilesVO">
	insert into ProductFiles (productNum,thumbnail,fileName,ogName)
				 values(#{productNum},#{thumbnail},#{fileName},#{ogName})									
	</insert>
	
	<insert id="setWish"  parameterType="WproductVO" >
	insert into MyWish (username,productNum,amount)
				 values(#{username},#{num},#{price})								
	</insert>
	
	
	
	
	<update id="setHitUpdate" parameterType="wProductVO">
		update product set hit=hit+1 where num=#{num}
	</update>
	
	<update id="setWishUp" parameterType="wProductVO">
		update product set wish=wish+1 where num=#{num}
	</update>
	
	<update id="setProductUpdate" parameterType="wproductVO">
		update product set title=#{title},categoryNum=#{categoryNum},price=#{price},contents=#{contents} where num=#{num}
	</update>
	
	
	
	
	<delete id="setDeleteProduct" parameterType="wProductVO">
		  delete from product
  		where num=#{num}
	</delete>
	
	<delete id="setDeleteFile" parameterType="wProductFilesVO">
		  delete from productFiles
  		where productNum=#{productNum}
	</delete>
	
	<delete id="setDeleteFileOne" parameterType="wProductFilesVO">
		  delete from productFiles
  		where fileNum=#{fileNum}
	</delete>

</mapper>
		

