@charset "UTF-8";
/* SIGN-in PAGE */

header.sign-in-head{
    position:unset;
    border-bottom: none;
}
.sign-in .sign-in-body{
width: 25%;
text-align: center;
margin: 0 auto;
min-width: 300px;
}
.sign-in-body h1{
font-weight: 700;
padding-bottom: 48px;
margin: 24px 0;

}

.sign-in-body button{
margin-bottom: 8px;
padding: 8px 12px;
}

.sign-in-frm{
margin-top: 48px;
text-align: left;
}
#id-input{
padding-left: 4px;
font-size:14.4px;
display: flex;
justify-content:space-between;
}
#id-input + input{
margin-bottom:16px;
}
#pw-input{
padding-left: 4px;
font-size:14.4px;
display: flex;
justify-content:space-between;
}
#pw-input + input{
margin-bottom:16px;
}

/* 왜 hover 안되지 ,,,,,,? */
/* .loginForm .mybtn:hover::before{
    content:"";
    background: rgba(0,0,0,0.07)
  } */

.anotherLogin p{
margin-bottom:48px;
padding-bottom: 48px;
color:rgb(168, 167, 167);
font-size: 14px;
}

/* SIGN-UP */

header.sign-up-head{
  position:unset;
  border-bottom: none;
}

.sign-up-body{
  width: 25%;
  text-align: center;
  margin: 0 auto;
  min-width: 300px;
}

.sign-up-body h1{
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 48px;
  margin: 24px 0;
}

.sign-up-body h1 + div{
  margin: 0 auto;
}
.sign-up-body h1 + div button{
  padding: 8px 12px;
  margin-bottom: 8px;
}

.sign-up-frm{
  margin-top: 32px;
  text-align: start;
}

.sign-up-frm .inputs div{
font-size: 14.4px;
margin: 0 0 4px 0;
padding: 0 0 0 4px;
}

.sign-up-frm .inputs input{
  margin: 0 0 16px 0;
  padding: 0 10px;
}

.sign-up-frm .agrees{
  margin-bottom: 24px;
}

.sign-up-frm .buttons{
  text-align: center;
}
.buttons input{
  margin-bottom: 30px;
}

.anotherLogin{
  margin-bottom: 48px;
  padding-bottom: 48px;
  font-size: 14.4px;
}


/* modal */


#find-id-modal {
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
  display: none;
}

#modal h3 {
  font-size: 20px;
}

#find-id-modal button{
  width: 100px;
  height: 30px;
  display: inline-block;
  margin: 0 auto;
  line-height: 15px;
}

#find-id-modal .modal-content {
  width:300px;
  margin:100px auto;
  padding:20px 10px;
  background:#fff;
  border:2px solid #666;
}

#find-id-modal .modal-layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}