<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.market.oi.test.TestVO" alias="TestVO" />
		<typeAlias type="com.market.oi.community.CommunityVO" alias="CommunityVO" />
		<typeAlias type="com.market.oi.util.CommunityPager" alias="CommunityPager"/>
		<typeAlias type="com.market.oi.community.CommunityfilesVO" alias="CommunityfilesVO"/>
		<typeAlias type="com.market.oi.community.comments.CommentsVO" alias="CommentsVO" />
		
		<typeAlias type="java.lang.Long" alias="Long"/>
		
	</typeAliases>

</configuration>