<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.market.oi.test.TestVO" alias="TestVO" />
		<typeAlias type="com.market.oi.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.market.oi.member.RoleVO" alias="RoleVO"/>
		<typeAlias type="com.market.oi.member.MemberFileVO" alias="MemberFileVO"/>
		<typeAlias type="com.market.oi.board.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.market.oi.board.qna.QnaVO" alias="QnaVO"/>
		<typeAlias type="com.market.oi.board.notice.NoticeVO" alias="NoticeVO"/>
		
		<typeAlias type="com.market.oi.util.Pager" alias="Pager"/>
	</typeAliases>

</configuration>