<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.market.oi.test.TestVO" alias="TestVO" />

		<typeAlias type="com.market.oi.myPage.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.market.oi.myPage.ProductfilesVO" alias="ProductfilesVO"/>
		<typeAlias type="com.market.oi.myPage.OrdercompleteVO" alias="OrdercompleteVO"/>
		<typeAlias type="com.market.oi.myPage.MywishVO" alias="MywishVO"/>
		<typeAlias type="com.market.oi.myPage.ReviewVO" alias="ReviewVO"/>

		<typeAlias type="com.market.oi.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.market.oi.member.RoleVO" alias="RoleVO"/>
		<typeAlias type="com.market.oi.member.MemberFileVO" alias="MemberFileVO"/>
		<typeAlias type="com.market.oi.board.BoardVO" alias="BoardVO"/>

		<typeAlias type="com.market.oi.board.qna.QnaVO" alias="QnaVO"/>
		<typeAlias type="com.market.oi.board.notice.NoticeVO" alias="NoticeVO"/>
		

		<typeAlias type="com.market.oi.util.Pager" alias="Pager"/>

		
		<typeAlias type="com.market.oi.location.LocationVO" alias="LocationVO"/>
		<typeAlias type="com.market.oi.product.ProductVO" alias="wProductVO"/>
		<typeAlias type="com.market.oi.product.ProductFilesVO" alias="wProductFilesVO"/>
		<typeAlias type="com.market.oi.product.ProductCategoryVO" alias="ProductCategoryVO"/>



		<typeAlias type="com.market.oi.community.CommunityVO" alias="CommunityVO" />
		<typeAlias type="com.market.oi.util.CommunityPager" alias="CommunityPager"/>
		<typeAlias type="com.market.oi.community.CommunityfilesVO" alias="CommunityfilesVO"/>
		<typeAlias type="com.market.oi.community.comments.CommentsVO" alias="CommentsVO" />
		
		<typeAlias type="com.market.oi.chat.ChatVO" alias="ChatVO" />
		
		<typeAlias type="java.lang.Long" alias="Long"/>

		<typeAlias type="com.market.oi.util.MypagePager" alias="MypagePager"/>



	</typeAliases>

</configuration>